{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Primary Meta Tags -->
<title>Criptdestroyer - Ahmad Emir Alfatah</title>
<meta name="title" content="Criptdestroyer - Ahmad Emir Alfatah">
<meta name="description" content="Backend Engineer PudingLab
I am a type of hard worker, diligent and confident person. In learning I have a high spirit, meticulous and quick to understand, especially learning new things. I am able to work under pressure and can work with various parties in one job. In my group I was able to build good communication and create good cooperation, also able to accept constructive criticism and suggestions.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Criptdestroyer - Ahmad Emir Alfatah">
<meta property="og:description" content="Backend Engineer PudingLab
I am a type of hard worker, diligent and confident person. In learning I have a high spirit, meticulous and quick to understand, especially learning new things. I am able to work under pressure and can work with various parties in one job. In my group I was able to build good communication and create good cooperation, also able to accept constructive criticism and suggestions.">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="Criptdestroyer - Ahmad Emir Alfatah">
<meta property="twitter:description" content="Backend Engineer PudingLab
I am a type of hard worker, diligent and confident person. In learning I have a high spirit, meticulous and quick to understand, especially learning new things. I am able to work under pressure and can work with various parties in one job. In my group I was able to build good communication and create good cooperation, also able to accept constructive criticism and suggestions.">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

<!-- favicon icon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

<!-- inject css start -->

<!--== bootstrap -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 

<!--== animate -->
<link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" />

<!--== fontawesome -->
<link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet" type="text/css" />

<!--== line-awesome -->
<link href="{% static 'css/line-awesome.min.css' %}" rel="stylesheet" type="text/css" />

<!--== magnific-popup -->
<link href="{% static 'css/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />

<!--== owl-carousel -->
<link href="{% static 'css/owl-carousel/owl.carousel.css' %}" rel="stylesheet" type="text/css" />

<!--== base -->
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />

<!--== shortcodes -->
<link href="{% static 'css/shortcodes.css' %}" rel="stylesheet" type="text/css" />

<!--== default-theme -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

<!--== responsive -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css" />

<!-- inject css end -->

</head>
<body>

<!-- page wrapper start -->

<div class="page-wrapper">

<!-- preloader start -->

<div id="ht-preloader">
  <div class="loader clear-loader">
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-box"></div>
    <div class="loader-wrap-text">
      <div class="text"><span>E</span><span>M</span><span>I</span><span>R</span>
      </div>
    </div>
  </div>
</div>

<!--page title start-->

<section class="page-title o-hidden pos-r md-text-center" data-bg-color="#fbf3ed">
  <canvas id="confetti"></canvas>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-12">
        <h1 class="title">Ahmad <span>E</span>mir Alfatah</h1>
        <p>Just Do It!</p>
      </div>
    </div>
  </div>
  <div class="page-title-pattern"><img class="img-fluid" src="{% static 'images/bg/11.png' %}" alt=""></div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">

<!--team details start-->

<section class="pos-r o-hidden">
  <canvas id="canvas"></canvas>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="timeline-wrap">
          <ul class="timeline timeline--first list-unstyled">
            <li class="timeline-title">
              <h2>2017</h2>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Top 100 Participant National Olympiad of Chemical Engineering</h3>
                <p>NOPEC Chernival is an event by HIMATEKK FTI - ITS is a national competition on Chemical Engineering. In that competition my team got the top 100 participants (Rank 15).</p>
                <small>January 2017</small>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Top 5 Best Students</h3>
                <p>I got the 5 best students at my high school graduation</p>
                <small>May 2017</small>
              </div>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Informatics Engineering Student</h3>
                <p>I am an informatics engineering student at Sriwijaya University and have a target to become a graduate in 2021</p>
                <small>August 2017</small>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Volunteer KPU Fasilkom Unsri</h3>
                <p>I as a volunteer KPU Fasilkom Unsri organize a general election for President of Sriwijaya University students</p>
                <small>November 2017</small>
              </div>
            </li>
          </ul>
        </div>
        <div class="timeline-wrap">
          <ul class="timeline list-unstyled">
            <li class="timeline-title">
              <h2>2018</h2>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Staff of Academic - BEM KM Fasilkom Unsri</h3>
                <p>I am an academic staff of BEM KM Fasilkom Unsri for the period of January 2018 - November 2018</p>
                <small>January 2018</small>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Supervisor - Ilkom Developer</h3>
                <p>I am the supervisor of the ilkom developer organization as a delegate from BEM KM Fasilkom Unsri</p>
                <small>January 2018</small>
              </div>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Backend Engineer - PudingLab</h3>
                <p>PudingLab is a Startup engaged in e-voting. We provide software as a Service (SaaS) to help with election events.</p>
                <small>September 2018</small>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Person in Charge - Technology Euphoria</h3>
                <p>I am the person in charge Seminar National Technology Euphoria 2018</p>
                <small>October 2018</small>
              </div>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>First Winner Application Development Competition Srifoton</h3>
                <p>Srifoton is a competition that held by HMIF Sriwijaya University</p>
                <small>November 2018</small>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Third Winner Web Programming Competition IT Fest</h3>
                <p>IT Fest is a competition that held by HMJ MI Polytechnic Sriwijaya University</p>
                <small>November 2018</small>
              </div>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Developer Training - Developer Student Clubs</h3>
                <p>Developer Students Clubs is organization held by Google</p>
                <small>December 2018</small>
              </div>
            </li>
          </ul>
        </div>
        <div class="timeline-wrap">
          <ul class="timeline list-unstyled">
            <li class="timeline-title">
              <h2>2019</h2>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Deputy of PTI - BEM KM Fasilkom Unsri</h3>
                <p>I am the deputy of PTI in BEM KM Fasilkom Unsri</p>
                <small>January 2019</small>
              </div>
            </li>
            <li class="timeline-inner timeline-left">
              <div class="timeline-content">
                <h3>Manager Competition - Technology Euphoria</h3>
                <p>I am the manager of Competition Technology Euphoria 2019</p>
                <small>February 2019</small>
              </div>
            </li>
            <li class="timeline-inner timeline-right">
              <div class="timeline-content">
                <h3>Speaker of Google Cloud Study Jam</h3>
                <p>Learn Cloud Computing and Machine Learning with Developer Student Club Unsri</p>
                <small>March 2019</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="pos-r bg-effect o-hidden">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
          <div class="section-title">
            <div class="title-effect">
              <div class="bar bar-top"></div>
              <div class="bar bar-right"></div>
              <div class="bar bar-bottom"></div>
              <div class="bar bar-left"></div>
            </div>
            <h2 class="title">Coding Activities</h2> 
          </div>
          <div class="row align-items-center">
            <div class="col-lg-6">
              <figure><embed src="https://wakatime.com/share/@94de3eaa-2a21-4725-87eb-3a6888654cd6/bd880cc6-54a0-4ee1-b6f5-2090953924ab.svg"></embed></figure>
            </div>
            <div class="col-lg-6">
              <figure><embed src="https://wakatime.com/share/@94de3eaa-2a21-4725-87eb-3a6888654cd6/000bc5ec-fa0b-4acd-8685-bdc3f4bb7b15.svg"></embed></figure>
            </div>
            <div class="col-lg-6">
              <figure><embed src="https://wakatime.com/share/@94de3eaa-2a21-4725-87eb-3a6888654cd6/996b3262-9b10-4311-a79e-d8cfab59dbc4.svg"></embed></figure>
            </div>
            <div class="col-lg-6">
              <figure><embed src="https://wakatime.com/share/@94de3eaa-2a21-4725-87eb-3a6888654cd6/d9e788bb-1a81-4a19-8cf4-406ff50dda33.svg"></embed></figure>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <section class="pos-r bg-effect o-hidden">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
          <div class="section-title">
            <div class="title-effect">
              <div class="bar bar-top"></div>
              <div class="bar bar-right"></div>
              <div class="bar bar-bottom"></div>
              <div class="bar bar-left"></div>
            </div>
            <h2 class="title">Github Overview</h2>
          </div>
          <div class="row align-items-center">
		<!-- Prepare a container for your calendar. -->
		<div class="calendar" style="width:100%;">
    		<!-- Loading stuff -->
    			Loading the data just for you.
		</div>
          </div>

        </div>
      </div>
    </div>
  </section>

<!--testimonial style-5 start-->

<section class="pos-r o-hidden bg-effect right" data-bg-img="images/pattern/01.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="testimonial-carousel carousel slide testimonial-2" data-ride="carousel" data-interval="2500">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial style-5">
                <div class="testimonial-img">
                  <img class="img-center" src="{% static 'images/gheddi.jpeg' %}" alt="">
                </div>
                <div class="testimonial-content">
                  <div class="testimonial-quote"><i class="la la-quote-left"></i>
                  </div>
                  <p>Emir is a very good team member. He is able to execute any given task responsibly. He has strong technical skills where he is proficient in many technology stack. He is also a good public speaker and event organizer.
                    </p>
                  <div class="testimonial-caption">
                    <h5>Muhammad Gheddi</h5>
                    <label>Developer Student Club Lead</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Item -->
          </div>
          <!-- End Carousel Inner -->
        </div>
        <!-- End Carousel -->
      </div>
    </div>
    
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 sm-mt-3">
            <div class="clients-logo social-instagram">
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/aemiralfath/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 md-mt-3">
          <div class="clients-logo social-github">
              <a target="_blank" rel="noopener noreferrer" href="https://bit.ly/2FESUge"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      <div class="col-lg-3 col-md-6 md-mt-3">
        <div class="clients-logo social-linkedin">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ahmad-emir-alfatah/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 md-mt-3">
          <div class="clients-logo social-github">
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/Criptdestroyer"><i class="fab fa-github"></i></a>
          </div>
        </div>
        
    </div>
  </div>
</section>

<div class="page-content">

  <!--contact start-->
  
  <section class="contact-info p-0 z-index-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-12">
          <div class="contact-media"> <i class="flaticon-paper-plane"></i><span>Address:</span>
            <p>Palembang, South Sumatera</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 md-mt-5">
          <div class="contact-media"> <i class="flaticon-email"></i><span>Email Address</span><a href="mailto:ahmademir1201@gmail.com"> ahmademir1201@gmail.com</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 md-mt-5">
          <div class="contact-media"> <i class="flaticon-social-media"></i><span>Phone Number</span><a href="tel:+6283187115996">+62-831-8711-5996</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="o-hidden p-0 custom-mt-10 z-index-0">
    <div class="container-fluid p-0">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="map-canvas iframe-h-2" data-zoom="15" data-lat="-2.9888297" data-lng="104.756857" data-type="roadmap" data-hue="#ffc400" data-title="Envato" data-icon-path="images/marker.png" data-content="Palembang, Indonesia<br><a href='mailto:ahmademir1201@gmail.com'>ahmademir1201@gmail.com</a>"></div>
        </div>
      </div>
    </div>
  </section>
</div>

</div>

<!-- page wrapper end -->

<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-go-up-in-web"></i></a></div>

<!--back-to-top end-->

 
<!-- inject js start -->

<!--== jquery -->

<script src="{% static 'js/jquery.3.3.1.min.js' %}"></script>
<!--== popper -->
<script src="{% static 'js/popper.min.js' %}"></script>

<!--== bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--== appear -->
<script src="{% static 'js/jquery.appear.js' %}"></script> 

<!--== modernizr -->
<script src="{% static 'js/modernizr.js' %}"></script> 

<!--== easing -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script> 

<!--== menu --> 
<script src="{% static 'js/menu/jquery.smartmenus.js' %}"></script>

<!--== owl-carousel -->
<script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script> 

<!--== magnific-popup --> 
<script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

<!--== counter -->
<script src="{% static 'js/counter/counter.js' %}"></script> 

<!--== countdown -->
<script src="{% static 'js/countdown/jquery.countdown.min.js' %}"></script> 

<!--== confetti -->
<script src="{% static 'js/confetti.js' %}"></script>

<!--== contact-form -->
<script src="{% static 'js/contact-form/contact-form.js' %}"></script>

<!--== validate -->
<script src="{% static 'js/contact-form/jquery.validate.min.js' %}"></script>

<!--== map api -->
<script src="https://maps.googleapis.com/maps/api/js"></script>

<!--== map -->
<script src="{% static 'js/map.js' %}"></script>

<!--== wow -->
<script src="{% static 'js/wow.min.js' %}"></script>

<!--== theme-script -->
<script src="{% static 'js/theme-script.js' %}"></script>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<script
  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"
></script>

<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
<link
   rel="stylesheet"
   href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
/>

<script>
    GitHubCalendar(".calendar", "Criptdestroyer", { responsive: true });
</script>

<!-- inject js end -->

</body>

</html>
